<div class="interactive-wrapper">
  <div class="ofm-awards-index">
    <div class='ofm-next-up'>
      <div class='ofm-next-up__image'></div>
      <div class='ofm-next-up__label'>
        <div class='ofm-next-up__label__type'></div>
        <div class='ofm-next-up__label__name'>
          <span class='text'>Best Sunday lunch</span><span class='icon'></span>
        </div>
      </div>
    </div>
    <div class='ofm-index'>
      <div class='ofm-index__expand' data-link-name='ofm awards index : expand'>
        <span class='ofm-index__expand__label'>
          <span class='text'>Browse all the awards</span><span class='icon'>&nbsp;<span class='icon__obj'><svg
                width="12" height="13" viewBox="0 0 12 13" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.324h5v2H7v5H5v-5H0v-2h5v-5h2v5z" fill="#121212" fill-rule="evenodd" /></svg></span></span>
        </span>
      </div>
      <div class='ofm-index__all'>
        <div class='ofm-index__all__links'>
          <!-- populated in app.js -->
        </div>
      </div>
    </div>

  </div>
</div>