@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

#r {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-color: #eaeaea;
  border-radius: 100%;
  cursor: pointer;
  color: transparent;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

.interactive-wrapper {
  display: none;
  .render & {
    display: block;
  }
}

.ofm-awards-index {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  .ofm-next-up {
    position: relative;
    &__image {
      width: 100%;
      padding-bottom: 60%;
      background-position: center;
      background-size: cover;
    }
    &__link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      &:hover {
        & ~ .ofm-next-up__label {
          background-color: #6b065a;
          background-color: #ffe500;
          color: #7d0068;
          .icon__obj {
            // background-color: #ffabdb;
            path {
              fill: #fff;
            }
          }
        }
      }

    }
    &__label {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 64px;
      // background-color: #BB3B80;
      color: #fff;
      background-color: #7d0068;
      &__type {
        padding: 5px 2px 3px 10px;
        font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
      }
      &__name {
        padding: 0 2px 8px 10px;
        font-family: "Guardian Headline", "Guardian Egyptian Web",Georgia,serif;
        font-size: 21px;
        line-height: 22px;
        font-weight: 700;
        .icon__obj {
          background-color: currentColor;
          width: 18px;
          height: 18px;
          path {
            fill: #7d0068;
          }
        }
        @include mq-add-breakpoint(mobileSmall, 340px);
        @include mq(mobileSmall) {
          font-size: 28px;
          line-height: 30px;
          .icon__obj {
            width: 24px;
            height: 24px;
          }
        }
      }  
    }
  }
  .text {
    display: inline;
  }
  .icon {
    display: inline;
    white-space: nowrap;
    &__obj {
      display: inline-block;
      margin-left: 0px;
      border-radius: 100%;
      vertical-align: middle;
      position: relative;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .ofm-index {
  // background-color: #f6f6f6;
  border: 1px solid #dcdcdc;
  border-top: 0;
  display: block;
  margin-right: 64px;
  &__expand {
    .full-index & {
      display: none;
    }
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding: 4px 10px 8px;
    color: #7d0068;
    cursor: pointer;
    .icon__obj {
      width: 22px;
      height: 22px;
      border: 1px solid rgba(#7d0068, 0.5);
      bottom: 1px;
      left: 1px;
      transition: transform 240ms;
      path {
        fill: currentColor;
      }
    }
    &:hover {
      .icon__obj {
        background-color: #7d0068;
        path {
          fill: #fff;
        }
      }
    }
  }

  &__all {
    display: none;
    // overflow: hidden;
    // max-height: 0;
    // transition: max-height 480ms ease-out;
    .full-index & {
      display: block;
      // max-height: 800px;
      // .listing {
      //   opacity: 1;
      //   transform: none;
      //   @for $i from 1 through 20 {
      //     &:nth-child(#{$i}) {
      //       transition-delay: ($i * 300ms);
      //     }
      //   }
      // }
    }
    .listing {
      display: block;
      font-family: "Guardian Headline", "Guardian Egyptian Web",Georgia,serif;
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 16px;
      padding-right: 8px;
      margin-left: 10px;
      border-top: 1px solid transparent;
      text-decoration: none;
      // opacity: 0;
      // transform: translateX(-20px);
      // transition: all 480ms ease-out;

      &:first-child {
        border-top: 0;
        padding-top: 3px;
      }
      &:last-child {
        padding-bottom: 24px;
      }
      &.active {
        color: #7d0068;
        border-color: rgba(#7d0068, 0.2);
        font-weight: 700;
        .icon__obj {
          width: 16px;
          height: 16px;
          background-color: currentColor;
          bottom: 1px;
          left: 4px;
        }
        &:hover {
          color: #5f0b51;
        }
      }

      &.inactive {
        color: #999;
        border-color: rgba(#999, 0.2);
        font-weight: 500;
        &:first-of-type {
          position: relative;
          margin-top: 40px;
          &:before {
            content: 'Out later this week:';
            color: #767676;
            display: block;
            position: absolute;
            top: -40px;
            left: -10px;
            right: 0;
            border-top: 1px solid rgba(#767676, 0.2);
            padding-left: 10px;
            font-size: 14px;
            line-height: 16px;
            padding-top: 4px;
            font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
          }
        }
      }
    }
  }

  }


}

